main{
    padding: 2vw;
}

main p, h2, h3{
    color: #333;
}

.mainIntro{
    background-color: #333;
    border: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe, #7c20f5);
    border-image-slice: 1;
}

h2{
    font-size: 250%;
    padding-bottom: 2vh;
    background: linear-gradient(to right,#5a6cf1, #9443fe, #7c20f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.mainIntro p{
    color: #f1f1f1;
    text-align: center;
}

h3{
    font-size: 150%;
}

main p{
    line-height: 1.75em;
    margin-top: 0.75em;
}

main li {
    margin-top: 12vh;
}

main div{
    padding: 1vw;
}

main li > section{
    margin: 1vw;
}

h3, main ul p{
    text-align: justify;
}

main ul > li{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5vh;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe);
    border-image-slice: 1;
}
  
main img{
    height: 20em;
}

main li:nth-child(odd){
    flex-direction: row-reverse;
}

@media screen and ((max-device-width: 820px) or (max-width: 820px)) {
    main div{
        margin: 50px 0;
    }
    main li {
        flex-direction: column;
        padding: 30px;
    }
    main li:nth-child(odd) {
        flex-direction: column;
    }
    img {
        object-fit: cover;
    }
    main li img{
        width: 100%;
    }
    p{
        font-size: 130%;
    }
    h2{
        font-size: 250%;
    }
    h3{
        text-align: center;
        font-size: 230%;
        margin-bottom: 40px;
    }
}